doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title #{title}
        meta(name="description", content=`${description}`)

        - const rootDirectory = "../../..";

        link(rel="icon", href=`${rootDirectory}/favicon.ico`, sizes="any")
        link(rel="icon", href=`${rootDirectory}/favicon.svg`, type="image/xml+svg")
        link(rel="apple-touch-icon", href=`${rootDirectory}/assets/apple-icon/icon-180.png`)
        link(rel="manifest", href=`${rootDirectory}/manifest.json`, crossorigin="use-credentials")

        meta(name="theme_color" media="(prefers-color-scheme: light)" content="#f2f2f2")
        meta(name="background_color" media="(prefers-color-scheme: light)" content="#f2f2f2")
        meta(name="theme_color" media="(prefers-color-scheme: dark)" content="#121212")
        meta(name="background_color" media="(prefers-color-scheme: dark)" content="#121212")

        block styles
            - const stylesPath = `${rootDirectory}/css`;
            link(rel="stylesheet", href=`${stylesPath}/${page}.css`)
        block scripts
            - const scriptsPath = `${rootDirectory}/js`;
            script(defer, src=`${scriptsPath}/${page}.js`)  
    body: block body