
doctype html
html(lang="en")
    head

        //- meta
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(rel="manifest" href="/manifest.json")

        //- title and description

        - const title = String(page).toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ");

        block description
            title #{ title } | Praktiki Software
            meta(name="description", content=`${description}`)
    
        //- assets

        - const icons = "../../assets/icons";

        block assets
            link(rel="icon", href=`${icons}/favicon.svg`)
            link(media="(prefers-color-scheme: light)" rel="mask-icon", href=`${icons}/mask-icon.svg`, color="#000")
            link(media="(prefers-color-scheme: dark)" rel="mask-icon", href=`${icons}/mask-icon.svg`, color="#FFF")
            link(rel="apple-touch-icon" href=`${icons}/apple-touch-icon.png`)

        //- styles

        - const css = "../../css"

        block css
            link(rel="stylesheet", href=`${css}/${page}.css`)

        //- scripts

        - const js = "../../js"

        block js
            script(defer src=`${js}/${page}.js`)

    body: block body
        header#banner(role="banner")
        aside#shortcut(aria-label="shortcut tool")
            - const shortcutTabs = ["file", "schedule", "billing", "business", "tasks", "chat", "account"];
            - const shortcutIcon = ["folder", "schedule", "sell", "storefront", "task_alt", "chat", "account_circle"];
            ul(role="tablist")
                each val, i in shortcutTabs
                    li(role="tab", tabindex="0", aria-selected=`${val === page ? true : false }`, id=`${val}Tab`, aria-controls=`${val}Panel`)
                        span.icon= shortcutIcon[i]
            each val, i in shortcutTabs
                section(role="tabpanel", id=`${val}Panel`, aria-labelledby=`${val}Tab`, class=`${val === page ? "" : "invisible"}`)
                    case val
                        when "file"
                            #fileShortcut
                                .input
                                    label File Search
                                    .combinedInputButton
                                        input(type="search")
                                        button(type="submit" class="icon") search
                        when "schedule"
                            #scheduleShortcut
                                #agenda
                                    - for(let i = 0; i <24; ++i){
                                        .hour
                                    - }
                                button
                                    span New Appointment
                                    .icon edit_calendar
                        when "business"
                            #businessShortcut
                                
                        when "tasks"
                            #taskShortcut
                                #newTask.input
                                    label New Task
                                    .combinedInputButton
                                        input(type="text")
                                        button(type="submit" class="icon") add_task
                        when "chat"
                            #chatShortcut
                                #contactList.hidden
                                    .input 
                                        label Search Chat
                                        .combinedInputButton
                                            input(type="text", aria-label="search contacts")
                                            button(type="search", class="icon") person_search
                                    ul
                                    button
                                        span Compose Message
                                        .icon create
                                #messageFeed
                                    nav
                                        button.icon arrow_back
                                        span#contactName
                                    .feed(role="feed")
                                    .combinedInputButton
                                        input(type="text", aria-label="send message")
                                        button(type="submit", class="icon") send

                        default
                            span
        main: block main
