
doctype html
html(lang="en")
    head

        //- meta
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(rel="manifest" href="/manifest.json")

        //- title and description

        - const title = String(page).toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ");

        block description
            title #{ title } | Praktiki Software
            meta(name="description", content=`${description}`)
    
        //- assets

        - const icons = "../../assets/icons";

        block assets
            link(rel="icon", href=`${icons}/favicon.svg`)
            link(media="(prefers-color-scheme: light)" rel="mask-icon", href=`${icons}/mask-icon.svg`, color="#000")
            link(media="(prefers-color-scheme: dark)" rel="mask-icon", href=`${icons}/mask-icon.svg`, color="#FFF")
            link(rel="apple-touch-icon" href=`${icons}/apple-touch-icon.png`)

        //- styles

        - const css = "../../css"

        block css
            link(rel="stylesheet", href=`${css}/${page}.css`)

        //- scripts

        - const js = "../../js"

        block js
            script(defer src=`${js}/${page}.js`)

    body: block body
        header#banner(role="banner")
        aside#shortcutTool(aria-label="shortcut tool"): include _shortcutTool
        main: block main
