extends _global

prepend description
    - const description = '';

append main
    nav#fileTree
        form#fileSearch
            input(type="search", aria-label="file search")
            button.icon(type="submit") search
        ul(role="tree", aria-label="file tree")

    form#note.tabs
        - const noteTabs = ["subjective", "objective", "assessment", "procedures", "history"]
        ul(role="tablist")
            each val, i in noteTabs
                li(role="tab", tabindex="0", aria-selected=`${i === 0 ? true : false }`, id=`${val}Tab`, aria-controls=`${val}Panel`)= val
        each val, i in noteTabs
            section(role="tabpanel", id=`${val}Panel`, aria-labelledby=`${val}Tab`)= val


append shortcut
    - const shortcutTabs = ["file", "schedule", "business", "tasks", "chat", "account"];
    - const shortcutIcon = ["folder", "schedule", "storefront", "task_alt", "chat", "account_circle"];
    ul(role="tablist")
        each val, i in shortcutTabs
            li(role="tab", tabindex="0", aria-selected=`${i === 0 ? true : false }`, id=`${val}Tab`, aria-controls=`${val}Panel`)
                span.icon= shortcutIcon[i]
    each val, i in shortcutTabs
        section(role="tabpanel", id=`${val}Panel`, aria-labelledby=`${val}Tab`)= val
