extends _global

prepend description
    - const description = '';

append main
    ul#fileTree(role="tree", aria-label="file tree")

    form#note.tabs
        - const noteTabs = ["subjective", "objective", "assessment", "plan"]
        ul(role="tablist")
            each val, i in noteTabs
                li(role="tab", tabindex="0", aria-selected=`${i === 0 ? true : false }`, id=`${val}Tab`, aria-controls=`${val}Panel`)= val
        each val, i in noteTabs
            section(role="tabpanel", id=`${val}Panel`, aria-labelledby=`${val}Tab`, class=`${i === 0 ? "" : "invisible"}`)
                case val
                    when "subjective"
                        .freeform.input
                            label(for=`${val}Freeform`) Freeform
                            textarea(id=`${val}Freeform`, name=`${val}Freeform`) This patient presents for evaluation and management of acute neck pain that began on 04/22/2023 following a low-speed motor vehicle accident.
                        .painScale
                        .painDiagram
                    when "objective"
                        .freeform
                            each val in ["inspection", "palpation", "motion", "tests"]
                                .input
                                    label(for=`${val}Freeform`)= val
                                    textarea(id=`${val}Freeform` name=`${val}Freeform`)  
                    when "assessment"
                        .shorthand
                            fieldset
                                legend Diagnosis
                                each val, i in ["M99.01 - Cervical Dysfunction", "M99.02 - Thoracic Dysfunction", "M99.03 - Lumbar Dysfunction", "M99.04 - Sacral Dysfunction", "M99.05 - Pelvic Dysfunction"]
                                    div
                                        label(for=`diagnosisId${i}`)= val
                                        input(id=`diagnosisId${i}`, type="checkbox", name="diagnosis", value=`${val}`)
                            fieldset
                                legend Phase of Care
                                each val, i in ["relief", "corrective", "stabilization", "maintenance"]
                                    div
                                        label(for=`phaseId${i}`)= val
                                        input(id=`phaseId${i}`, type="checkbox", name="phase", value=`${val}`)
                                
                    when "plan"
                        span under construction
                    default
                        span this tab was unexpected
                
                
