extends _global

prepend description
    - const description = '';

append main
    ul#fileTree(role="tree", aria-label="file tree")

    form#note.tabs
        - const noteTabs = ["subjective", "objective", "assessment", "plan"]
        ul(role="tablist")
            each val, i in noteTabs
                li(role="tab", tabindex="0", aria-selected=`${i === 0 ? true : false }`, id=`${val}Tab`, aria-controls=`${val}Panel`)= val
        each val, i in noteTabs
            section(role="tabpanel", id=`${val}Panel`, aria-labelledby=`${val}Tab`, class=`${i === 0 ? "" : "invisible"}`)
                case val
                    when "subjective"
                        .freeform.input
                            label(for=`${val}Freeform`) Freeform
                            textarea(id=`${val}Freeform`, name=`${val}Freeform`) This patient presents for evaluation and management of acute neck pain that began on 04/22/2023 following a low-speed motor vehicle accident.
                        .painScale
                        .painDiagram
                    when "objective"
                        .freeform
                            details
                                summary
                                    span Vital Signs
                                    .icon keyboard_arrow_down
                                .fieldsetRow
                                    fieldset
                                        legend Height
                                        span
                                            input(id="heightFeet", name="heightFeet", type="number")
                                            span ft
                                            input(id="heightInch", name="heightInch", type="number")
                                            span in
                                    fieldset
                                        legend Weight
                                        span
                                            input(id="weight", name="weight", type="number")
                                            span lbs
                                    fieldset
                                        legend Pulse Rate
                                        span
                                            input(id="pulseRate", name="pulseRate", type="number")
                                            span BPM
                                fieldset
                                    legend Blood Pressure
                                    div
                                        input(id="rightBP", name="bloodPressureTestedArm", type="checkbox", checked)
                                        label(for="rightBP") Right Arm:
                                        input(id="systolicRight", name="systolicRight", type="number")
                                        span mmHg
                                        span /
                                        input(id="diastolicRight" name="diastolicRight", type="number")
                                        span mmHg
                                    div
                                        input(id="leftBP", name="bloodPressureTestedArm", type="checkbox")
                                        label(for="leftBP") Left Arm:
                                        input(id="systolicLeft", name="systolicLeft", type="number")
                                        span mmHg
                                        span /
                                        input(id="diastolicLeft" name="diastolicLeft", type="number")
                                        span mmHg
                                fieldset
                                    legend Respiratory Rate
                                    each val in ["normal", "elevated", "diminished", "irregular"]
                                        div
                                            label(for=`${val}RespiratoryRate`)= val
                                            input(id=`${val}RespiratoryRate`, name="respiratoryRate", type="radio")

                            each val in ["inspection", "palpation", "motion", "tests"]
                                .input
                                    label(for=`${val}Freeform`)= val
                                    textarea(id=`${val}Freeform` name=`${val}Freeform`)  
                    when "assessment"
                        .freeform.input
                            label(for="assessmentFreeform") Freeform
                            textarea(id="assessmentFreeform", name="assessmentFreeform") 

                        .shorthand
                            fieldset
                                legend Diagnosis
                                each val, i in ["Cervical Dysfunction", "Thoracic Dysfunction", "Lumbar Dysfunction", "Sacral Dysfunction", "Pelvic Dysfunction"]
                                    div
                                        label(for=`diagnosisId${i}`)= val
                                        input(id=`diagnosisId${i}`, type="checkbox", name="diagnosis", value=`${val}`)
                            fieldset
                                legend Phase of Care
                                each val, i in ["Relief", "Corrective", "Stabilization", "Maintenance"]
                                    div
                                        label(for=`phaseId${i}`)= val
                                        input(id=`phaseId${i}`, type="radio", name="phase", value=`${val}`)
                            fieldset
                                legend Prognosis
                                each val, i in ["Excellent (90%)", "Good (75%)", "Fair (50%)", "Poor (25%)", "Guarded (10%)"]
                                    div
                                        label(for=`prognosisId${i}`)= val
                                        input(id=`prognosisId${i}`, type="radio", name="prognosis", value=`${val}`)
                    when "plan"
                        span under construction
                    default
                        span this tab was unexpected
                
                
